<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="su.afk.kemonos.di.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kemonos"
        tools:targetApi="36">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Kemonos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep Link -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!-- Hosts -->
                <data android:scheme="https"/>
                <data android:host="kemono.cr"/>
                <data android:host="coomer.st"/>
                <data android:host="pawchive.pw"/>
                <data android:host="pawchive.st"/>
                <data android:host="cum.st"/>

                <!-- Sections -->
                <data android:path="/artists"/>
                <data android:path="/posts"/>
                <data android:pathPrefix="/posts/"/>

                <!-- Creator / Posts -->
                <data android:pathPrefix="/patreon/user/"/>
                <data android:pathPrefix="/fanbox/user/"/>
                <data android:pathPrefix="/fantia/user/"/>
                <data android:pathPrefix="/boosty/user/"/>
                <data android:pathPrefix="/gumroad/user/"/>
                <data android:pathPrefix="/subscriblestar/user/"/>
                <data android:pathPrefix="/dlslite/user/"/>
                <data android:pathPrefix="/onlyfans/user/"/>
                <data android:pathPrefix="/fansly/user/"/>
                <data android:pathPrefix="/candfans/user/"/>
                <data android:pathPrefix="/discord/server/"/>

                <!-- OnlyHaven: /creators/{service}/{id} -->
                <data android:pathPrefix="/creators/"/>
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>
